{% extends 'homebase.html' %}
{% load static %}
{% block head %}
{% include 'head.html' %}
{% block title %}
{% if request.user.id %}
Sepetim
{% else %}
Üye ol & Giriş Yap
{% endif %}
{% endblock title %} {% endblock head %} {% block content %}
<script>
    var user = '{{request.user}}'

    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
</script>
<section id="aa-catg-head-banner"><img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}"
        alt="website template image">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Sepetim</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Ana Sayfa</a></li>
                    <li class="active">Sepet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="#" method="post">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Ürün</th>
                                            <th>Birim Fiyat</th>
                                            <th>Adet</th>
                                            <th>Toplam Fiyat</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for cartItem in cart %}
                                        <tr>
                                            <td><a href="https://www.free-css.com/free-css-templates">
                                                    <i class="fa fa-close"></i>
                                                </a></td>
                                            <td><a href="/product/{{cartItemproduct.id}}/{{product.slug}}"><img
                                                        src="{{cartItem.product.image.url}}"
                                                        alt="website template image"></a></td>
                                            <td><a class="aa-cart-title"
                                                    href="/product/{{cartItemproduct.id}}/{{product.slug}}">{{cartItem.product}}</a>
                                            </td>
                                            <td>{{cartItem.product.price}}</td>
                                            <td>
                                            <td>

                                                <div
                                                    style="display: flex;justify-content: space-evenly;align-items: flex-start;">
                                                    <i class="fa fa-solid fa-plus-circle fa-1x btn btn-success update_item"
                                                        data-productid="{{cartItem.product_id}}" data-action="add"></i>

                                                    <p id="{{cartItem.product_id}}-quantity">{{cartItem.quantity}}</p>
                                                    <i class="fa fa-duotone fa-minus-circle fa-1x btn btn-danger update_item"
                                                        data-productid="{{cartItem.product_id}}" data-action="remove"></i>
                                                </div>
                                            </td>
                                            
                                            <td>{{cartItem.amount}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>$450</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="https://www.free-css.com/free-css-templates" class="aa-cart-view-btn">Proced to
                                Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    updateBtns = document.getElementsByClassName('update_item')

for (let i = 0; i < updateBtns.length; i++) {
    
    console.log(updateBtns[i])
    updateBtns[i].addEventListener('click', function () {
        var productid = this.dataset.productid
        var action = this.dataset.action
        updateItem(productid, action)
    })
};

function updateItem(productid, action) {
    fetch("/order/UpdateItem/", {
        method: "POST",
        headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({
            productid: productid,
            action: action
        })
    }).then((response) => {
        return response.json()
        
    })
    .then((data) => {
        console.log('Data:',data);
        location.reload()
    })

}
</script>

{% endblock content %} {% block footer %} {% include 'footer.html' %} {% endblock footer %}