{% extends 'homebase.html' %}
{% load static %}
{% block head %}
{% include 'head.html' %}
{% block title %}
Ödeme işlemi
{% endblock title %} {% endblock head %} {% block content %}


<section id="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-area">
          <form id="checkoutForm">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">
                    {% if not request.user.id %}
                    <div class="panel panel-default aa-checkout-login">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                            class="collapsed" aria-expanded="false">Client Login</a></h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptatibus modi
                            pariatur qui reprehenderit asperiores fugiat deleniti praesentium enim incidunt.</p>
                          <input type="text" placeholder="Username or email">
                          <input type="password" placeholder="Password">
                          <button type="submit" class="aa-browse-btn">Login</button>
                          <label for="rememberme">
                            <input type="checkbox" id="rememberme">
                            Remember me</label>
                          <p class="aa-lost-password"><a href="https://www.free-css.com/free-css-templates">Lost your
                              password?</a></p>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                            class="collapsed" aria-expanded="false">Fatura Detayları</a></h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false"
                        style="height: 0px;">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="First Name*">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Last Name*">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Company name">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="email" placeholder="Email Address*">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="tel" placeholder="Phone*">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <textarea cols="8" rows="3">Adres*</textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <input type="tel" placeholder="country*">

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Appartment, Suite etc.">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="City / Town*">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="District*">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Postcode / ZIP*">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                            class="collapsed" aria-expanded="false"> Sipariş Adresi</a></h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                          <div class="card">
                            <div class="card-body">


                              {% if request.user.username %}

                              <div class="btn btn-primary" id="getMyAddress">
                                Adresim
                              </div> <br><br>
                              <script>
                                document.getElementById("getMyAddress").addEventListener("click", (e) => {
                                  document.getElementById("firstname").value = "{{request.user.first_name}}"
                                  document.getElementById("lastname").value = "{{request.user.last_name}}"
                                  document.getElementById("email").value = "{{request.user.email}}"
                                  document.getElementById("phone").value = "{{customer.phone}}"
                                  document.getElementById("address").value = "{{customer.address}}"
                                  document.getElementById("country").value = "{{customer.country}}"
                                  document.getElementById("city").value = "{{customer.city}}"
                                  document.getElementById("state").value = ""
                                  document.getElementById("zipcode").value = "{{customer.zipcode}}"
                                })
                              </script>
                              {% endif %}

                              <div id="newAddress">

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="firstname">Ad</label>
                                      <input type="text" id="firstname" name="firstname">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="lastname">Soyad</label>

                                      <input type="text" id="lastname" name="lastname">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="email">Eposta Adresi</label>

                                      <input type="email" id="email" name="email">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="phone">Telefon</label>
                                      <input type="tel" id="phone" name="phone">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                      <label for="address">Adres</label>
                                      <input type="text" id="address" name="address">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                      <label for="appartment">Ülke</label>
                                      <input type="text" name="country" id="country">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="city">Şehir</label>
                                      <input type="text" id="city" name="city">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="state">Eyalet</label>
                                      <input type="text" id="state" name="state">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="aa-checkout-single-bill">
                                      <label for="zipcode">Posta kodu</label>
                                      <input type="text" id="zipcode" name="zipcode">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="aa-checkout-single-bill">
                                      <label for="specialnote">Özel not</label>
                                      <input id="specialnote" name="specialnote">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Order Summary</h4>
                  <div class="aa-order-summary-area">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Ürün</th>
                          <th>Toplam</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for cartitem in cart %}
                        <tr>
                          <td> <a
                              href="/product/{{cartitem.product.id}}/{{cartitem.product.slug}}">{{cartitem.product}}</a>
                            <strong> x {{cartitem.quantity}}</strong>
                          </td>
                          <td>{{cartitem.amount}} TL</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Toplam Tutar</th>
                          <td>{{total}} TL</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Ödeme yöntemi</h4>
                  <div class="aa-payment-method">
                    <label for="cashdelivery">
                      <input type="radio" id="cashdelivery" name="optionsRadios">
                      Kapıda ödeme</label>
                    <label for="paypal">
                      <input type="radio" id="paypal" name="optionsRadios" checked="">
                      Paypal ile Ödeme</label>
                    <img src="{% static '/img/paypal.jpg' %}" style="border:0;" alt="website template image">
                    <button type="submit" value="Siparişi Tamamla" class="aa-browse-btn" id="complateOrder">Siparişi
                      Tamamla </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block footer %} {% include 'footer.html' %} {% endblock footer %}