<!-- menu -->
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">


                        {% load mptt_tags %}
                        {% recursetree category %}
                        <li><a href="/category/{{node.id}}/{{node.slug}}">{{ node.title }}</a>

                            {% if not node.is_leaf_node %}
                            <ul class="dropdown-menu">
                                <li><a href="/category/{{children.id}}/{{children.slug}}">{{children}}</a></li>    
                            </ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
<!-- / menu -->


<script>
var allDropAltLiAlta = document.querySelectorAll(".dropdown-menu li a")

for (let a of allDropAltLiAlta){
    if (a.text.trim().length == 0 && a.children.length == 0) 
    {
        a.parentElement.remove()
    }
}



</script>