{% extends 'homebase.html' %}
{% load static %}
{% block head %}
{% include 'head.html' %}
{% block title %}
{% for categor in categories %}

{% if categor.parent %}

{{categor.parent.title}} /
{% endif %}

{{categor.title}}
{% endfor %}
{% endblock %}
{% endblock head %}


{% block content %}
<style>
    li:hover figure .aa-product-img img {
        transform: scale(1.3);
    }

    .list li:hover figure figcaption {
        transform: scale(1);
    }


    .aa-product-img img {
        transition: 0.4s;
    }
</style>

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                {% for categor in categories %}
                <h2>{{categor.title}}</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    {% if categor.parent %}
                    {% if categor.parent.parent %}
                    {% if categor.parent.parent.parent %}
                    <li><a
                            href="/category/{{categor.parent.parent.parent.id}}/{{categor.parent.parent.parent.slug}}">{{categor.parent.parent.parent.title}}</a>
                    </li>
                    {% endif %}
                    <li><a
                            href="/category/{{categor.parent.parent.id}}/{{categor.parent.parent.slug}}">{{categor.parent.parent.title}}</a>
                    </li>
                    {% endif %}
                    <li><a href="/category/{{categor.parent.id}}/{{categor.parent.slug}}">{{categor.parent.title}}</a>
                    </li>

                    {% endif %}
                    <li class="active">{{categor.title}}</li>

                </ol>
                {% endfor %}

                <hr>

            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->





<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                            {% include 'productsTopBar.html' %}
                    </div>
                    <div class="aa-product-catg-body">
                        
                        {% include 'ulProducts.html' %}
                            
                    </div>
                    <!-- page numbers -->
                    <div class="aa-product-catg-pagination">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

                {% include 'quickViewModal.html' %}
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">

                        {% for categories in categories %}

                        <h3>{{categories.title}}</h3>
                        {% endfor %}

                        <ul class="aa-catg-nav">

                            {% for child in category_children %}
                            <li><a href="/category/{{child.id}}/{{child.slug}}">{{ child.title }}</a>
                                {% endfor %}

                        </ul>
                    </div>
                    <!-- single sidebar -->
                    <!-- <div class="aa-sidebar-widget">
                        <h3>Tags</h3>
                        <div class="tag-cloud">
                            <a href="#">Fashion</a>
                            <a href="#">Ecommerce</a>
                            <a href="#">Shop</a>
                            <a href="#">Hand Bag</a>
                            <a href="#">Laptop</a>
                            <a href="#">Head Phone</a>
                            <a href="#">Pen Drive</a>
                        </div>
                    </div> -->

                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Shop By Price</h3>
                        <!-- price range -->
                        <div class="aa-sidebar-price-range">
                            <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                            </div>
                            <span id="skip-value-lower" class="example-val">{{minPrice}}</span>
                            <span id="skip-value-upper" class="example-val">{{maxPrice}}</span>
                            <button class="aa-filter-btn" type="submit">Filter</button>
                        </div>

                    </div>

                    <script src="{% static 'js/productFilter.js' %}"></script>
                    <!-- single sidebar -->
                    <!-- <div class="aa-sidebar-widget">
                        <h3>Shop By Color</h3>
                        <div class="aa-color-tag">
                            <a class="aa-color-green" href="#"></a>
                            <a class="aa-color-yellow" href="#"></a>
                            <a class="aa-color-pink" href="#"></a>
                            <a class="aa-color-purple" href="#"></a>
                            <a class="aa-color-blue" href="#"></a>
                            <a class="aa-color-orange" href="#"></a>
                            <a class="aa-color-gray" href="#"></a>
                            <a class="aa-color-black" href="#"></a>
                            <a class="aa-color-white" href="#"></a>
                            <a class="aa-color-cyan" href="#"></a>
                            <a class="aa-color-olive" href="#"></a>
                            <a class="aa-color-orchid" href="#"></a>
                        </div>
                    </div> -->
                    <!-- single sidebar -->
                    <!-- <div class="aa-sidebar-widget">
                        <h3>Recently Views</h3>
                        <div class="aa-recently-views">
                            <ul>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-2.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-1.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-2.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- single sidebar -->
                    <!-- <div class="aa-sidebar-widget">
                        <h3>Top Rated Products</h3>
                        <div class="aa-recently-views">
                            <ul>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-2.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-1.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img"
                                            src="{% static 'img/woman-small-2.jpg' %}"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </aside>
            </div>

        </div>
    </div>
</section>









<script>
    var allDropAltLiAlta = document.querySelectorAll("li a")
    for (let a of allDropAltLiAlta) {

        if (a.text.trim().length == 0 && a.children.length == 0) {
            a.parentElement.remove()

        }
    }

</script>


{% endblock content %}




{% block footer %}
{% include 'footer.html' %}

{% endblock footer %}