{% load static %}
{% block slider %}
<!-- Start slider -->
<style>
    .seq-nav a:hover{
        background-color: #970001 !important;
        color: #fff !important;
    }
    .seq-nav a{
        color: #970001;
        background-color: rgb(255, 234, 234);
    }
    .seq-model img{
        object-fit: none;
    }


</style>


<section id="aa-slider" style="margin-bottom: 5rem;">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    
                    {% for slideritem in slideritems %}
                    <li>
                        <div class="seq-model">
                            <img data-seq src="{{slideritem.image.url}}" alt="Men slide img"/>
                        </div>
                        <div class="seq-title" style="top: 62%;">

                            <h2 data-seq>{{slideritem.title}}</h2>                         
                                
                            <a data-seq href="/product/{{slideritem.id}}/{{slideritem.slug}}" class="aa-shop-now-btn aa-secondary-btn">ŞİMDİ SATIN AL</a>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<hr>
<!-- / slider -->

{% endblock slider %}

