{% load static %}

<section id="logged-in-myAccount" style="float:left; width:100%;">
    <div class="container" style="margin-top:120px; margin-bottom:150px">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Hesabım</h2>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Kullanıcı bilgilerim</a>
                                <a href="#" class="list-group-item">Siparişlerim</a>
                                <a href="#" class="list-group-item">Değerlendirmelerim</a>
                                <a href="#" class="list-group-item">Daily Cüzdan</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="userInfo" style="display: none;">
                                <div class="card w-75">
                                    <div class="card-header">
                                        <h2 style="font-size:25px">Üyelik Bilgilerim</h2>
                                    </div>
                                    <div class="card-body">
                                        <form action="" class="form-inline">
                                            <div class="form-group-sm">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="ad">Ad</label>
                                                        <input name="ad" class="form-control"
                                                            style="padding:23px; font-size: 17px;" type="text"
                                                            value="{{request.user.first_name}}">

                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="soyad">Soyad</label><br>
                                                        <input name="soyad" class="form-control"
                                                            style="padding: 23px; font-size: 17px;" type="text"
                                                            value="{{request.user.last_name}}">

                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin:18px ;text-align: center">
                                                <a class="btn aa-browse-btn disabled"
                                                    style="width:90% ; border-radius: 15px;" href="">Güncelle</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div id="contactInfo" class="mt-5">
                                    <div class="card w-75">
                                        <div class="card-header">
                                            <h2 style="font-size:25px">İletişim Bilgilerim</h2>
                                        </div>
                                        <div class="card-body">
                                            <form action="">
                                                <div class="form-group-sm">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label for="email">E-posta Adresi</label>
                                                            <input name="email" class="form-control"
                                                                style="padding:23px; font-size: 17px;" type="text"
                                                                value="{{request.user.email}}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="margin:18px ;text-align: center">
                                                    <a class="btn aa-browse-btn disabled"
                                                        style="width:90% ; border-radius: 15px;" href="">Güncelle</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div style="display: none;">
    <div id="Nname">
        {{request.user.first_name}}
    </div>
    <div id="Nlastname">
        {{request.user.last_name}}
    </div>
    <div id="Nemail">
        {{request.user.email}}
    </div>
</div>

<script>
    listgroupitem = document.querySelectorAll(".list-group-item")

    nameInput = document.getElementsByName("ad")[0]
    lastnameInput = document.getElementsByName("soyad")[0]
    emailInput = document.getElementsByName("email")[0]

    eventlist()

    function eventlist() {
        listgroupitem[0].addEventListener("click", userInfo)
        nameInput.addEventListener("input", btnShow)
        lastnameInput.addEventListener("input", btnShow)
        emailInput.addEventListener("input", btnShow)
    }
    function userInfo() {
        document.getElementById("userInfo").style.display = "block"
    }
    function btnShow(e) {
        if (nameInput.value != "{{request.user.first_name}}" || lastnameInput.value != "{{request.user.last_name}}" || emailInput.value != "{{request.user.email}}") {

            e.target.parentElement.parentElement.parentElement.parentElement.children[1].children[0].classList.remove("disabled")
        }
        else {
            e.target.parentElement.parentElement.parentElement.parentElement.children[1].children[0].classList.add("disabled")

        }
    }
    
        

</script>