eTicaret/__pycache__/__init__.cpython-310.pyc
eTicaret/__pycache__/settings.cpython-310.pyc
eTicaret/__pycache__/urls.cpython-310.pyc
eTicaret/__pycache__/wsgi.cpython-310.pyc
eTicaret/__pycache__/__init__.cpython-310.pyc
eTicaret/__pycache__/settings.cpython-310.pyc
eTicaret/__pycache__/urls.cpython-310.pyc
eTicaret/__pycache__/wsgi.cpython-310.pyc
order/__pycache__/__init__.cpython-310.pyc
order/__pycache__/admin.cpython-310.pyc
order/__pycache__/models.cpython-310.pyc
order/__pycache__/urls.cpython-310.pyc
order/__pycache__/views.cpython-310.pyc
