{% load static %}
<!-- popular section -->


<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                        <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Popülar</a></li>
                            <li><a href="#latest" data-toggle="tab">En son</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider">
                                    <!-- start single product item -->
                                    {% for product in popularProducts %}
                                        <li>
                                            <figure>
                                                <a class="aa-product-img"
                                                    href="/product/{{product.id}}/{{product.slug}}"><img
                                                        src="{{product.image.url}}" alt="polo shirt img"></a>
                                                        <a class="aa-add-card-btn add_to_cart"
                                                        data-imageurl="{{product.image.url}}" data-title="{{product.title}}"
                                                        data-price="{{product.price}}" data-action="add" data-productid="{{product.id}}" onclick="AddToCart(this); UpdateItem(this);"
                                                        href="#"><span class="fa fa-shopping-cart"></span>Sepete Ekle</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a
                                                            href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a>
                                                    </h4>
                                                    <span class="aa-product-price">{{product.price}} TL</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top"
                                                    title="Add to Wishlist" 
                                                    {% if product in wishList %}
                                                    data-action="remove" data-productid="{{product.id}}" class="wishListBtn" onclick="WishListBtn(this)">
                                                    <span class="fa fa-heart"></span>
                                                    {% else %}
                                                    data-action="add" data-productid="{{product.id}}" class="wishListBtn" onclick="WishListBtn(this)">
                                                    <span class="fa fa-heart-o"></span>
                                                    {% endif %}

                                                    <a href="#" data-toggle2="tooltip" data-placement="top"
                                                        class="quickViewBtn" onclick="QuickView(this)"
                                                        data-productid="{{product.id}}" title="Quick View"
                                                        data-toggle="modal" data-target="#quick-view-modal"><span
                                                            class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        {% endfor %}
                                    
                                </ul>
                                <a class="aa-browse-btn" href="#">Tüm Ürünlere Gözat<span
                                        class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / popular product category -->


                            <!-- start latest product category -->
                            <div class="tab-pane fade" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    <!-- start single product item -->
                                    
                                        
                                    {% for product in lastProducts %}
                                        <li>
                                            <figure>
                                                <a class="aa-product-img"
                                                    href="/product/{{product.id}}/{{product.slug}}"><img
                                                        src="{{product.image.url}}" alt="polo shirt img"></a>
                                                        <a class="aa-add-card-btn add_to_cart"
                                                        data-imageurl="{{product.image.url}}" data-title="{{product.title}}"
                                                        data-price="{{product.price}}" data-action="add" data-productid="{{product.id}}" onclick="AddToCart(this); UpdateItem(this);"
                                                        href="#"><span class="fa fa-shopping-cart"></span>Sepete Ekle</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a
                                                            href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a>
                                                    </h4>
                                                    <span class="aa-product-price">{{product.price}} TL</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top"
                                                    title="Add to Wishlist" 
                                                    {% if product in wishList %}
                                                    data-action="remove" data-productid="{{product.id}}" class="wishListBtn" onclick="WishListBtn(this)">
                                                    <span class="fa fa-heart"></span>
                                                    {% else %}
                                                    data-action="add" data-productid="{{product.id}}" class="wishListBtn" onclick="WishListBtn(this)">
                                                    <span class="fa fa-heart-o"></span>
                                                    {% endif %}

                                                    <a href="#" data-toggle2="tooltip" data-placement="top"
                                                        class="quickViewBtn" onclick="QuickView(this)"
                                                        data-productid="{{product.id}}" title="Quick View"
                                                        data-toggle="modal" data-target="#quick-view-modal"><span
                                                            class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale" href="#">SALE!</span>
                                        </li>
                                        {% endfor %}
                                    
                                </ul>
                                
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->