{% load static %} {% block UserInfo %}

<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
</script>
<div class="card w-75">
    <div class="card-header">
        <h2 style="font-size:25px">Üyelik Bilgilerim</h2>
    </div>
    <div class="card-body">
        <form id="infoForm" class="form-inline" data-action="info" data-customer="{{request.user.id}}">
            {% csrf_token %}
            <div class="form-group-sm">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Ad</label>
                        <input name="name" id="name" class="form-control" style="padding:23px; font-size: 17px;" type="text" value="{{request.user.first_name}}">

                    </div>
                    <div class="col-md-6">
                        <label for="lastname">Soyad</label><br>
                        <input name="lastname" id="lastname" class="form-control" style="padding: 23px; font-size: 17px;" type="text" value="{{request.user.last_name}}">

                    </div>
                </div>
            </div>
            <div style="margin:18px ;text-align: center">
                <button type="submit" class="btn aa-browse-btn disabled" style="width:90% ; border-radius: 15px;">Güncelle</button>
            </div>
        </form>
    </div>
</div>

<div id="contactInfo" class="mt-5">
    <div class="card w-75">
        <div class="card-header">
            <h2 style="font-size:25px">İletişim Bilgilerim</h2>
        </div>
        <div class="card-body">
            <form id="contactForm" class="form-inline" data-action="contact" data-customer="{{request.user.id}}">
                {% csrf_token %}
                <div class="form-group-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="email">E-posta Adresi</label>
                            <input name="email" id="email" class="form-control" style="padding:23px; font-size: 17px;" type="text" value="{{request.user.email}}">
                        </div>
                        <div class="col-md-6">

                            <label for="phone">Telefon Numarası</label>
                            <input name="phone" id="phone" class="form-control" style="padding:23px; font-size: 17px;" type="text" value="{{customer.phone}}">
                        </div>
                    </div>
                </div>

                <div style="margin:18px ;text-align: center">
                    <button type="submit" class="btn aa-browse-btn disabled" style="width:90% ; border-radius: 15px;">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="addressInfo" class="mt-5">
    <div class="card w-75">
        <div class="card-header">
            <h2 style="font-size:25px">Adres Bilgilerim</h2>
        </div>
        <div class="card-body">
            <form id="addressForm" class="form-inline" data-action="address" data-customer="{{request.user.id}}">
                {% csrf_token %}
                <div class="form-group-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="address">Adres</label>
                            <textarea id="address" name="address" class="form-control" style="padding:23px; font-size: 17px;">{{customer.address}}</textarea>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <label for="country">Ülke</label><br>
                            <input type="text" class="form-control" name="country" id="country" value="{{customer.country}}">
                        </div>
                        <div class="col-md-6">
                            <label for="city">Şehir</label><br>
                            <input type="text" class="form-control" name="city" id="city" value="{{customer.city}}">
                        </div>

                    </div>
                </div>

                <div style="margin:18px ;text-align: center">
                    <button type="submit" class="btn aa-browse-btn disabled" style="width:90% ; border-radius: 15px;">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    nameInput = document.getElementsByName("name")[0]
    lastnameInput = document.getElementsByName("lastname")[0]
    emailInput = document.getElementsByName("email")[0]
    phoneInput = document.getElementsByName("phone")[0]
    addressInput = document.getElementsByName("address")[0]
    countryInput = document.getElementsByName("country")[0]
    cityInput = document.getElementsByName("city")[0]
    eventlist()

    function eventlist() {
        nameInput.addEventListener("input", btnShow)
        lastnameInput.addEventListener("input", btnShow)
        emailInput.addEventListener("input", btnShow)
        phoneInput.addEventListener("input", btnShow)
        addressInput.addEventListener("input", btnShow)
        countryInput.addEventListener("input", btnShow)
        cityInput.addEventListener("input", btnShow)
    }

    function btnShow(e) {
        if (nameInput.value != "{{request.user.first_name}}" ||
            lastnameInput.value != "{{request.user.last_name}}" ||
            emailInput.value != "{{request.user.email}}" ||
            phoneInput.value != "{{customer.phone}}" ||
            addressInput.value != "{{customer.address}}" ||
            countryInput.value != "{{customer.country}}" ||
            cityInput.value != "{{customer.city}}"
        ) {
            e.target.parentElement.parentElement.parentElement.parentElement.children[2].children[0].classList.remove("disabled")
        } else {
            e.target.parentElement.parentElement.parentElement.parentElement.children[2].children[0].classList.add("disabled")
        }
    }
</script>
{% endblock UserInfo %}